/* 아래에 코드를 작성하시오. */

body {
    height: 1000px;
    margin-top: 80px;
    margin-bottom: 150px;
}

.section {
    height: 600px;
    background-image: url(./images/main.png);
    background-position: center;
    background-size: cover;
}