<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>DTL for, if tags 연습</h1>
    <h2>1. for tag</h2>
    {% for menu in menus %}
      {{ menu }}
    {% endfor%}
    <hr>
    {% for menu in menus %}
      {{ forloop.counter }} : {{menu}}
    {% endfor %}
    <hr>
    {% for x in empty_list %}
      {{x}}
    {% empty %}
      <p>아무것도 없어요!!</p>
    {% endfor %}
    <hr>
    <h2> 2. if tag </h2>
    {% if '짜장면' in menus %}
      <p> 짜장면은 자장면이지 </p>
    {% endif %}
    <hr>
    {% if empty_list|length > 10 %}
      <p>길이가 10보다 크네요</p>
    {% else %}
      <p>길이가 10보다 작네요.</p>
    {% endif %}
    <hr>
    <h2>4. lorem ipsum</h2>
    {% lorem %}
    <hr>
    {% lorem 3 %}
    <hr>
    {% lorem 3 w random %}
    <hr>
    {% lorem 3 p %}
    <hr>
    <h2>5. truncate </h2>
    <p>{{ sentence|truncatechars:5 }}</p>
    <p>{{ sentence|truncatewords:3}}</p>
    <hr>
    <h2>6. 글자 관련 필터</h2>
    <p>{{'abc'|length}}</p>
    <p>{{'abc'|upper}}</p>
    <p>{{'ABC'|lower}}</p>
    <p>{{'my name is zzzi'|title}}</p>
    <p>{{'my name is zzzi'|capfirst}}</p>
    <br>
    <h2>7. 연산 관련 </h2>
    <p>{{4|add:6}}</p>
    <br>
    <h2>8. 날짜표현</h2>
    <p>{{ datetimenow }}</p>
    <br>
    {% now "DATETIME_FORMAT" %}
    {% now "SHORT_DATE_FORMAT" %}
    <br>
    {% now "DATE_FORMAT" %}
    {% now "SHORT_DATETIME_FORMAT" %}
    <hr>
    {% now "Y년 m월 d일 D"%}
    <hr>
    {% now "Y" as current_year %} <br>
    <b>{{current_year}}</b>
    <hr>

    {{datetime|date:"Y년 m월 d일"}} <br>
    {{ datetimenow|date:"SHORT_DATE_FORMAT"}}
</body>
</html>